* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 15px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.list {
  list-style: none;
}
.list-item {
  display: inline-block;
}
.link {
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: violet;
  color: aliceblue;
}
.logo {
  font-size: 1.8em;
  text-transform: uppercase;
}
.main {
  flex: 1;
  max-width: 1200px;
  text-align: center;
  margin: auto;
}
.main-article {
  margin: 10px;
  padding: 1.5em;
  border: 1px dashed teal;
}
.footer {
  padding: 1em;
  background-color: tomato;
  color: aliceblue;
  text-align: center;
}

/* page.html */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  max-width: 400px;
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
}
.container > * {
  flex-grow: 0.5;
}
.event-name {
  margin: 10px 0;
  margin-left: auto;
}
.event-date {
  text-align: right;
}
.inner{
  display: inline-block;
  text-align: center;
}
